## Netflix Content Analysis üé¨

### Importing the required libaries with the dataset of netflix

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("All the required lib are imported")

All the required lib are imported

In [2]:
df = pd.read_csv("/kaggle/input/netflix-csv/netflix_titles.csv") #importing the DataFrame
# pd.reset_option("display.max_row",None)
# pd.set_option("display.max_columns",None)
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"Jo√£o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...

In [3]:
df.info() #checking the structure of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

## Interpretation of the above cell
- Date column is in object(string) Dtype, need to be in datetime object
- missing values in director, cast, country, date_added, rating column

In [4]:
df.isnull().sum() #checking for the missing values in dataframe

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

## We can see the here the missing data from each column
- Necessary actions will be taken place regarding the missing data

In [5]:
print("Director Column data:")
df['director'].head(5).reset_index()

Director Column data:

   index           director
0      0                NaN
1      1  Jorge Michel Grau
2      2       Gilbert Chan
3      3        Shane Acker
4      4     Robert Luketic

In [6]:
print("Missing data Director :")
df['director'].isnull().value_counts().reset_index()

Missing data Director :

   director  count
0     False   5398
1      True   2389

In [7]:
print("Cast Column data:")
df['cast'].head(5).reset_index()

Cast Column data:

   index                                               cast
0      0  Jo√£o Miguel, Bianca Comparato, Michel Gomes, R...
1      1  Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, ...
2      2  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3      3  Elijah Wood, John C. Reilly, Jennifer Connelly...
4      4  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...

In [8]:
print("Missing data Cast :")
df['cast'].isnull().value_counts().reset_index()

Missing data Cast :

    cast  count
0  False   7069
1   True    718

In [9]:
print("Country Column data:")
df['country'].head(5).reset_index()

Country Column data:

   index        country
0      0         Brazil
1      1         Mexico
2      2      Singapore
3      3  United States
4      4  United States

In [10]:
print("Missing data country :")
df['country'].isnull().value_counts().reset_index()

Missing data country :

   country  count
0    False   7280
1     True    507

In [11]:
print("Date Column data:")
df['date_added'].head(5).reset_index()

Date Column data:

   index         date_added
0      0    August 14, 2020
1      1  December 23, 2016
2      2  December 20, 2018
3      3  November 16, 2017
4      4    January 1, 2020

In [12]:
print("Missing data in Date:")
df['date_added'].isnull().value_counts().reset_index()

Missing data in Date:

   date_added  count
0       False   7777
1        True     10

In [13]:
print("Rating Column data:")
df['rating'].head(5).reset_index()

Rating Column data:

   index rating
0      0  TV-MA
1      1  TV-MA
2      2      R
3      3  PG-13
4      4  PG-13

In [14]:
print("Missing data in rating:")
df['rating'].isnull().value_counts().reset_index()

Missing data in rating:

   rating  count
0   False   7780
1    True      7

## Cleaning and Transforming the data
- cast and director nan values will be changed to empty
- changing the Dtype of date to datetime
- mode the country, most frequent one
- droping few rows from rating and date as there is very little data is missing

### Changing the Director NaN values

In [15]:
df['director'] = df['director'].fillna("Unknown")
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,Unknown,"Jo√£o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...

In [16]:
df["director"].str.contains("Unknown").value_counts().reset_index()

   director  count
0     False   5398
1      True   2389

### Changing the Cast NaN values

In [17]:
df['cast'] = df['cast'].fillna("Unknown")
df.loc[df['cast'] == 'Unknown','cast'].value_counts().reset_index()

      cast  count
0  Unknown    718

In [18]:
df.isna().sum()

show_id           0
type              0
title             0
director          0
cast              0
country         507
date_added       10
release_year      0
rating            7
duration          0
listed_in         0
description       0
dtype: int64